<form #form="ngForm" (ngSubmit)="onFormSubmit(form)" class="w-full h-[37rem] bg-orange-300/80 rounded border border-white mb-5">
	<h1 class="text-center uppercase font-semibold text-orange-50 text-lg mt-6 mb-4">Agrega nuevos productos aqui</h1>
	<div class="">
		<div class="w-full my-2 flex flex-col justify-center items-center">
			<p class="w-5/6 cursor-default">Nombre del Producto</p>
			<input class="w-5/6 h-8 rounded px-2 capitalize" type="text" ngModel name="name" id="productName">
		</div>
		<div class="w-full mb-2 flex flex-col justify-center items-center">
			<p class="w-5/6 cursor-default">Descripcion del producto</p>
			<input class="w-5/6 h-8 rounded px-2 capitalize" type="text" ngModel name="description">
		</div>
		<div class="w-full mb-2 flex flex-col justify-center items-center">
			<p class="w-5/6 cursor-default">Precio</p>
			<input class="w-5/6 h-8 rounded px-2 capitalize" type="number" ngModel name="price" id="">
		</div>
		<div class="w-full mb-2 flex flex-col justify-center items-center">
			<p class="w-5/6 cursor-default">Foto del Producto</p>
			<div class="rounded w-5/6 h-20 bg-white flex items-center px-5">
				<input class="" type="file" id="">
			</div>
		</div>
		<div class="flex mx-auto justify-between mt-1 w-5/6">
			<p class=" cursor-default">Categoria</p>
			<a href="#" class="text-[8px] font-semibold h-8 border mb-1 border-orange-500 bg-orange-300 hover:bg-orange-500 hover:text-white hover:border-orange-50 p-1 rounded uppercase"><fa-icon [icon]="faAdd" class="mr-1 text-sm"></fa-icon>Categoria</a>
		</div>
		<div class="select-box relative w-full mb-2 flex flex-col justify-center items-center">
			<div (click)="openOptions()" id="select" class="contentSelect w-5/6 h-8 leading-8 capitalize bg-white hover:border hover:border-orange-600 box-border cursor-pointer rounded px-2">
				{{ selectedValue }}
			</div>
			<div class="absolute cursor-pointer right-10" (click)="openOptions()">
				<fa-icon [icon]="faAngleDown"></fa-icon>
			</div>
			<div id="options"  class="w-full absolute translate-y-36 hidden">
				<div class="option pl-2 w-5/6 h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAnchorClick('pollo asado')">Pollo Asado</div>
				<div class="option pl-2 w-5/6 h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAnchorClick('pollo broaster')">Pollo Broaster</div>
				<div class="option pl-2 w-5/6 h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAnchorClick('carnes')">Carnes</div>
				<div class="option pl-2 w-5/6 h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAnchorClick('pescados')">Pescados</div>
				<div class="option pl-2 w-5/6 h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAnchorClick('bandejas')">Bandejas</div>
				<div class="option pl-2 w-5/6 h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAnchorClick('sopas')">Sopas</div>
				<div class="option pl-2 w-5/6 h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAnchorClick('bebidas')">Bebidas</div>
				<div class="option pl-2 w-5/6 h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAnchorClick('porciones')">Porciones</div>
			</div>
		</div>
		<div class="w-full mb-2 flex flex-col justify-center items-center">
			<p class="w-5/6  cursor-default">Esta disponible</p>
			<div class="flex">
				<p class="mr-1 cursor-default">Si</p>
				<input class="w-8 cursor-pointer" type="radio" ngModel name="avalaible" value="true" id="avalaibleYes">
				<p class="ml-4 mr-1 cursor-default">No</p>
				<input class="w-8 cursor-pointer" type="radio" ngModel name="avalaible" value="false" id="avalaibleNo">
			</div>
		</div>
		<input id="category" type="hidden" [(ngModel)]="selectedValue" name="category" value="{{selectedValue}}">
		<div class="w-full mb-2 flex flex-col justify-center items-center">
			<button class="w-5/6 h-9 rounded uppercase bg-blue-100/80 text-blue-600 hover:bg-blue-600 hover:text-blue-100 font-extrabold border border-orange-50">Agregar producto</button>
		</div>
  </div>
</form>