<form #update="ngForm" *ngFor="let product of products; let i = index" class="p-3 mb-5 bg-orange-300/70 ">
	<!--Name-->
	<div>
		<div>Nombre</div>
		<div>
			<div *ngIf="!isEditing(i)" class="flexcapitalize">
				<p>{{ product.name }}</p>
			</div>
			<div *ngIf="isEditing(i)" class="flex  hover:bg-orange-600/50">
				<input class="w-11/12 rounded capitalize px-1 h-6 text-orange-950" [(ngModel)]="product.name" type="text" name="name" [placeholder]="product.name">
			</div>
		</div>
	</div>
	<!--Description-->
	<div>
		<div>Descripcion</div>
		<div>
			<div *ngIf="!isEditing(i)">
				<p>{{ product.description }}</p>
			</div>
			<div *ngIf="isEditing(i)">
				<textarea type="text" class="w-11/12 h-24 rounded p-2" [(ngModel)]="product.description" name="description" [placeholder]="product.description"></textarea>
			</div>
		</div>
	</div>
	<!-- Price -->
	<div>
		<div>Precio</div>
		<div>
			<div *ngIf="!isEditing(i)">
				<p>{{ product.price | currency }}</p>
			</div>
			<div *ngIf="isEditing(i)">
				<input class="w-11/12 rounded px-2 h-6 text-orange-950" placeholder="{{ product.price }}" type="number" [(ngModel)]="product.price" name="price" id="">
			</div>
		</div>
	</div>
	<!-- Image -->
	<div>
		<div>Imagenes</div>
		<div>
			<div *ngIf="!isEditing(i)">
				<img src="{{ product.imageSm }}" alt="Imagen Icon">
				<img src="{{ product.imageMd }}" alt="Imagen Mediana">
				<img src="{{ product.imageLg }}" alt="Imagen Grande">
			</div>
			<div *ngIf="isEditing(i)">
				<div class="rounded-t border border-b-orange-200 w-5/6 h-16 bg-white justify-center flex flex-col items-center px-6">
					<p class="text-xs mb-2">Foto 10 x 10</p>
					<input class="h-8 w-full" type="file" [(ngModel)]="product.imageSm" name="imageSm">
				</div>
				<div class="border border-b-orange-200 w-5/6 h-16 bg-white justify-center flex flex-col items-center px-6">
					<p class="text-xs mb-2">Foto 116 x 131</p>
					<input class="h-8 w-full" name="imagemd" type="file" [(ngModel)]="product.imageMd" name="imageMd">
				</div>
				<div class="rounded-b w-5/6 h-16 bg-white flex flex-col justify-center items-center px-6">
					<p class="text-xs mb-2">Foto 368 x 208</p>
					<input class="h-8 w-full" type="file" [(ngModel)]="product.imageLg" name="imageLg">
				</div>
			</div>
		</div>
	</div>
	<!-- Category -->
	<div>
		<div>Categoria</div>
		<div>
			<div *ngIf="!isEditing(i)">
				<p>{{ product.Category }}</p>
			</div>
			<div *ngIf="isEditing(i)">
				<input id="category" type="hidden" [(ngModel)]="product.Category" name="category" value="{{selectedValue}}">
				<div class="select-box relative w-full mb-2 flex flex-col justify-center items-center">
					<div (click)="openOption(i)" id="select" class="contentSelect w-5/6 h-8 leading-8 capitalize bg-white hover:border hover:border-orange-600 box-border cursor-pointer rounded px-2">
						{{ selectedValue }} <p *ngIf="!selectedValue">Selecciona una Categoria</p>
					</div>
					<div class="absolute cursor-pointer right-10" (click)="openOption(i)">
						<fa-icon [icon]="faAngleDown"></fa-icon>
					</div>
					<div id="options"  class="w-5/6 absolute h-32 overflow-y-scroll z-10 translate-y-20 rounded-b-md hidden">
						<div class="option pl-2 w-full h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAClick('pollo asado', i)">Pollo Asado</div>
						<div class="option pl-2 w-full h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAClick('pollo broaster', i)">Pollo Broaster</div>
						<div class="option pl-2 w-full h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAClick('pollo frito', i)">Pollo Frito</div>
						<div class="option pl-2 w-full h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAClick('carnes', i)">Carnes</div>
						<div class="option pl-2 w-full h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAClick('pescados', i)">Pescados</div>
						<div class="option pl-2 w-full h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAClick('bandejas', i)">Bandejas</div>
						<div class="option pl-2 w-full h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAClick('arroces', i)">Arroces</div>
						<div class="option pl-2 w-full h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAClick('sopas', i)">Sopas</div>
						<div class="option pl-2 w-full h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAClick('bebidas', i)">Bebidas</div>
						<div class="option pl-2 w-full h-8 flex items-center cursor-pointer relative bg-orange-50 border-b border-orange-400 mx-auto hover:bg-orange-500 hover:text-white" (click)="handleAClick('porciones', i)">Porciones</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Avalaible -->
	<div>
		<div>Disponible</div>
		<div>
			<div *ngIf="!isEditing(i)">
				<p>{{ product.avalaible }}</p>
			</div>
			<div *ngIf="isEditing(i)">
				<p class="mr-1 cursor-default">Si</p>
				<input class="w-8 cursor-pointer" type="radio" [(ngModel)]="product.avalaible" name="avalaible" value="true" id="avalaibleYes">
				<p class="ml-4 mr-1 cursor-default">No</p>
				<input class="w-8 cursor-pointer" type="radio" [(ngModel)]="product.avalaible" name="avalaible" value="false" id="avalaibleNo">
			</div>
		</div>
	</div>

	<button class="hover:border w-8 hover:bg-orange-600/50 hover:border-orange-500 rounded-full" *ngIf="!isEditing(i)" (click)="toggleEdit(i)"><fa-icon [icon]="faPancil"></fa-icon></button>
	<button class="hover:border w-8 hover:bg-orange-600/50 hover:border-orange-500 rounded-full" *ngIf="!isEditing(i)" (click)="deleteProduct(this.product.name)"><fa-icon [icon]="faTrash"></fa-icon></button>
	
	<button class="w-[12ch] p-1 rounded text-sm border border-orange-900 uppercase text-white bg-orange-800/40" *ngIf="isEditing(i)" (click)="toggleEdit(i)">Cancelar</button>
	<button class="w-[12ch] p-1 rounded text-sm border border-orange-900 uppercase text-white bg-orange-800/40" *ngIf="isEditing(i)" (click)="updateProduct(i, update)" >Actualizar</button>
</form>