<div id="up">
  <app-products></app-products>
  <div id="contact" class="p-3 bg-orange-500 mb-10 rounded-md border-2 border-orange-300">
    <h2 class="uppercase text-2xl text-white font-bold text-center mb-2">Contactanos</h2>
    <div class="flex">
      <div class="w-4/12 bord mr-2 uppercase">
          <a href="https://wa.me/message/CDT3IW2KQUWSP1" class="mb-3 text-green-300 bg-green-300/50 hover:bg-green-200 border-green-500 hover:text-green-500 block p-1 border w-full text-center font-semibold rounded">
            <h2 class="text-xs">whatsapp <fa-icon class="font-bold text-xl" [icon]="faWhatsapp"></fa-icon></h2>
          </a>
          <a href="https://instagram.com/asaderorikybrasa" class="mb-3 text-orange-100 bg-gradient-to-tr from-yellow-500 from-10% via-red-500 via-60% to-purple-500 to-100% hover:border-purple-300 border-purple-700 hover:text-orange-950 block p-1 border w-full text-center font-semibold rounded" referrerpolicy="noreferr">
            <h2 class="text-xs">instagram <fa-icon class="font-bold text-xl" [icon]="faInstagram"></fa-icon></h2>
          </a>
          <a href="https://facebook.com/rikybrasa.asadero" class="text-blue-200 bg-blue-500/50 hover:bg-blue-200 border-blue-500 hover:text-blue-500 block p-1 border w-full text-center font-semibold rounded">
            <h2 class="text-xs">facebook <fa-icon class="font-bold text-xl" [icon]="faFacebook"></fa-icon></h2>
          </a>
      </div>
      <div class="capitalize text-orange-50">
        <div>
          <h2 class="font-semibold">celular</h2>
          <a href="tel: +573124023188">+57 312-402-3188</a>
        </div>
        <div>
          <h2 class="font-semibold">telefono</h2>
          <a href="tel: +576017743188">(601) 774-3188</a>
        </div>
        <div>
            <h2 class="font-semibold">direccion</h2>
            <a href="https://www.google.com/maps/place/Asadero+Riky+Brasa/@4.5517225,-74.0889049,17z/data=!3m1!4b1!4m6!3m5!1s0x8e3f98837a66de8b:0xb9232b9c1eb8541!8m2!3d4.5517172!4d-74.0863246!16s%2Fg%2F11dxdc54ps?entry=ttu">cll 36l s #8d - 10 este - barrio la Y</a>
        </div>      
      </div>
    </div>
  </div>
</div>
<div class="w-10 h-10 rounded-full border-orange-200 bg-orange-600/50 hover:bg-orange-500 hover:border-white text-white border fixed bottom-[9%] right-12">
  <a href="#up" class="w-full h-full flex justify-center items-center">
    <fa-icon [icon]="faArrowUp"></fa-icon>
  </a>
</div>
<div class="w-10 h-10 rounded-full border-orange-200 bg-orange-600/50 hover:bg-orange-500 hover:border-white text-white border fixed bottom-[16%] right-12">
  <a href="#contact" class="w-full h-full flex justify-center items-center">
    <fa-icon [icon]="faPhone"></fa-icon>
  </a>
</div>