<div id="up">
  <img src="../../../../../assets/LogoRickyBrasaTransparent.png" class="rounded-full h-48 mx-auto" alt="">
  <h1 class="text-orange-100 ml-3 -translate-y-5 text-3xl font-bold">Bienvenido a Riky Brasa </h1>  
  <nav class="w-full sticky top-0 z-10 bg-orange-500/50 overflow-scroll overflow-y-hidden mb-5" >
    <div class="flex mb-1">
      <a class="py-2 px-3 mr-2 whitespace-nowrap bg-orange-600/90 text-white border border-orange-200 rounded-md uppercase font-bold" href="#pollo asado">Pollo Asado</a>
      <a class="py-2 px-3 mr-2 whitespace-nowrap bg-orange-600/90 text-white border border-orange-200 rounded-md uppercase font-bold" href="#pollo broaster">Pollo Broaster</a>
      <a class="py-2 px-3 mr-2 whitespace-nowrap bg-orange-600/90 text-white border border-orange-200 rounded-md uppercase font-bold" href="#pollo frito">Pollo Frito</a>
      <a class="py-2 px-3 mr-2 whitespace-nowrap bg-orange-600/90 text-white border border-orange-200 rounded-md uppercase font-bold" href="#carnes">Carnes</a>
      <a class="py-2 px-3 mr-2 whitespace-nowrap bg-orange-600/90 text-white border border-orange-200 rounded-md uppercase font-bold" href="#pescados">Pesacados</a>
    </div>
    <div class="flex mb-1">
      <a class="py-2 px-3 mr-2 whitespace-nowrap bg-orange-600/90 text-white border border-orange-200 rounded-md uppercase font-bold" href="#bandejas">Bandejas</a>
      <a class="py-2 px-3 mr-2 whitespace-nowrap bg-orange-600/90 text-white border border-orange-200 rounded-md uppercase font-bold" href="#arroces">Arroces</a>
      <a class="py-2 px-3 mr-2 whitespace-nowrap bg-orange-600/90 text-white border border-orange-200 rounded-md uppercase font-bold" href="#sopas">Sopas</a>
      <a class="py-2 px-3 mr-2 whitespace-nowrap bg-orange-600/90 text-white border border-orange-200 rounded-md uppercase font-bold" href="#bebidas">Bebidas</a>
      <a class="py-2 px-3 mr-2 whitespace-nowrap bg-orange-600/90 text-white border border-orange-200 rounded-md uppercase font-bold" href="#porciones">Porciones</a>
    </div>
  </nav>
  <app-products></app-products>
  <div id="contact" class="p-3 bg-orange-500 mb-10 rounded-md border-2 border-orange-300">
    <h2 class="uppercase text-2xl text-white font-bold text-center mb-2">Contactanos</h2>
    <div class="flex justify-center">
      <div class="bord mr-2 uppercase">
          <a href="https://wa.me/message/CDT3IW2KQUWSP1" class="mb-3 h-10 w-32 text-green-300 bg-green-300/50 hover:bg-green-200 border-green-200 hover:text-green-500 block p-1 border text-center font-semibold rounded">
            <h2 class="text-xs">whatsapp <fa-icon class="font-bold text-xl" [icon]="faWhatsapp"></fa-icon></h2>
          </a>
          <a href="https://instagram.com/asaderorikybrasa" class="mb-3 h-10 text-orange-100 bg-gradient-to-tr from-yellow-500 from-10% via-red-500 via-60% to-purple-500 to-100% hover:border-purple-300 border-purple-300 hover:text-purple-900 block p-1 border w-32 text-center font-semibold rounded" referrerpolicy="noreferr">
            <h2 class="text-xs">instagram <fa-icon class="font-bold text-xl" [icon]="faInstagram"></fa-icon></h2>
          </a>
          <a href="https://facebook.com/rikybrasa.asadero" class="h-10 text-blue-50 bg-blue-500/70 hover:bg-blue-200 border-blue-300 hover:text-blue-500 block p-1 border w-32 text-center font-semibold rounded">
            <h2 class="text-xs">facebook <fa-icon class="font-bold text-xl" [icon]="faFacebook"></fa-icon></h2>
          </a>
      </div>
      <div class="uppercase text-orange-50">
        <a href="tel: +573124023188" class="h-10 text-cyan-50 bg-gradient-to-tr from-blue-800 from-20% to-20% to-red-500 hover:bg-gradient-to-bl border-orange-300 hover:text-white block p-1 border w-32 mb-3 text-center font-semibold rounded">
          <h2 class="text-xs">+57 3124023188 <fa-icon class="font-bold text-xl ml-1" [icon]="faMobilePhone"></fa-icon></h2>
        </a>
        <a href="tel: +576017743188" class="h-10 text-cyan-50 bg-gradient-to-tr from-blue-800 from-20% to-20% to-red-500 hover:bg-gradient-to-bl border-orange-300 hover:text-white block p-1 border w-32 mb-3 text-center font-semibold rounded">
          <h2 class="text-xs">(601) 774-3188 <fa-icon class="font-bold text-xl ml-1" [icon]="faPhoneFlip"></fa-icon></h2>
        </a>
        <a href="https://www.google.com/maps/place/Asadero+Riky+Brasa/@4.5517225,-74.0889049,17z/data=!3m1!4b1!4m6!3m5!1s0x8e3f98837a66de8b:0xb9232b9c1eb8541!8m2!3d4.5517172!4d-74.0863246!16s%2Fg%2F11dxdc54ps?entry=ttu" class="text-green-50 h-10 bg-gradient-to-tr from-green-600 from-85% to-blue-600 to-80% hover:bg-green-200 border-green-50 hover:text-green-900 block p-1 border w-32 mb-3 text-center font-semibold rounded">
          <h2 class="text-xs text-white">visitanos<fa-icon class="font-bold text-xl ml-1" [icon]="faLocationDot"></fa-icon></h2>
        </a>     
      </div>
    </div>
    <div class="capitalize text-orange-50 text-center">
        <a href="https://www.google.com/maps/place/Asadero+Riky+Brasa/@4.5517225,-74.0889049,17z/data=!3m1!4b1!4m6!3m5!1s0x8e3f98837a66de8b:0xb9232b9c1eb8541!8m2!3d4.5517172!4d-74.0863246!16s%2Fg%2F11dxdc54ps?entry=ttu">cll 36l s #8d - 10 este - barrio la Y</a>
    </div>
  </div>
</div>
<div class="fixed z-20 bottom-1 w-10/12 flex justify-center items-center">
  <div class="w-48 px-5 h-14 justify-between items-center flex border-orange-50 border rounded-full bg-orange-600/50">
    <app-cart></app-cart>
    <div class="w-10 h-10 rounded-full border-orange-200 bg-orange-300/50 hover:bg-orange-500 hover:border-white text-white border">
      <a href="#up" class="w-full h-full flex justify-center items-center">
        <fa-icon [icon]="faArrowUp"></fa-icon>
      </a>
    </div>
    <div class="w-10 h-10 rounded-full border-orange-200 bg-orange-300/50 hover:bg-orange-500 hover:border-white text-white border ">
      <a href="#contact" class="w-full h-full flex justify-center items-center">
        <fa-icon [icon]="faPhone"></fa-icon>
      </a>
    </div>
  </div>
</div>
