@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: orangered;
}

*::-webkit-scrollbar{
    width: 0.3rem;
    background: rgb(231, 75, 18);
}
*::-webkit-scrollbar:hover{
    width: 0.5rem;
    background: rgb(253, 183, 6);
    animation: ease;
}

*::-webkit-scrollbar-thumb{
    background: rgb(241, 217, 4);
    border: 0.5px solid whitesmoke;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover{
    background: rgb(244, 138, 72);
    border: 1px solid white;
}
